body {
    font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF8E7;
}
li {
    list-style-type:disc;
}
.Back {
    background-color: tomato;
    width: 200px;
}
.Back.Button:hover {
    border: 2px solid white;
    background-color: firebrick;
    color: white;
}
#Back-Button-Div {
    position: fixed;
    top: 50px;
    left: 50%;
    margin-left: -100px;
}
.Box-Span {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}
.Button {
    cursor: pointer;
    border: 2px solid;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
.Button:hover {
    border: 2px solid white;
    background-color: midnightblue;
    color: white;
}
.Complete, .Edit, .Link, .Links, .Module, .RemoveTask, .Submit {
    background-color: dodgerblue;
    margin-bottom: 5px;
    margin-top: 10px;
}
.Diary, .Favourites, .Task {
    width: 70%;
}
.Diary-Div {
    width: 100%;
    display: table;
}
.Diary-Entry, .Diary-Table {
    width: 100%;
}
.Entry {
    border: 2px solid;
    margin-top: 5px;
    margin-bottom: 5px;
}
.Entry-Cell-Left {
    display: table-cell;
    float: left;
    width: 15%;
    border-top: 1px solid;
}
.Entry-Cell-Middle {
    display: table-cell; 
    float: left;
    width: 70%;
    border-top: 1px solid;
}
.Entry-Cell-Right {
    display: table-cell;
    float: right;
    width: 15%;
    border-top: 1px solid;    
}
[class$="-Entry-Row"]{
    display: none;
    background-color: #FFF8E7;
}
.Half-Width-Ruler {
    width: 50%;
    border: 1px solid black;
}
hr {
    color: black;
    border: 2px solid black;
}
.List {
    border: 2px solid;
    cursor: pointer;
}
.Logo-Image {
    max-width:33%; 
    max-height: 200px; 
    vertical-align: middle;
}
.Main-Div {
    min-height: 100%;
    background-color: #CCEEFF;
    text-align: center;
}
.Month-And-Year {
    text-align: center;
    font-weight: bold;
    display: table-cell;
    border: 2px solid;
}
.Month-Row {
    background-color: gainsboro;
    display: table-row;
}
.Month-Row:hover {
    cursor: pointer;
}
#Personal-Task-Entry {
    display: table;
    border-collapse: collapse;
}
.Personal-Task {
    display: table-cell;
    left: 0px;
    width: 70%;
}
.Remove-Task {
    display: table-cell;
    right: 0px;
    width: 30%;
}
.Sub-Div {
    background-color: #CCEEFF;
    margin-left: 50px;
    margin-right: 50px;
}
.Sub-Task, .Sub-Task-Status, .Sub-Task-Form {
    width: 33%;
    display: inline-block;
    vertical-align: middle;
}
[class$="-Sub-Task-Div"] {
    border: 2px solid;
    background-color: antiquewhite;
}
.Task-Div {
    display: table-row;
    background-color: antiquewhite;
    border: 2px solid;
}
.Task-Header {
    cursor: pointer;
    text-align: center;
    border: 2px solid;
    background-color: gainsboro;
}