body {
    font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF8E7;
}
li {
    list-style-type:disc;
}
.Back-Button {
    text-align: center;
    background-color: royalblue;
    cursor: pointer;
    width: 200px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
#Back-Button-Div {
    position: fixed;
    top: 50px;
    left: 50%;
    margin-left: -100px;
}
.Back-Button, .Diary-Button, .Favourites-Button, .Link-Button, .Links-Button, .Module-Button, .Modules-Button, .Task-Button {
    text-align: center;
    background-color: dodgerblue;
    cursor: pointer;
    margin-bottom: 10px;
    border: 3px solid black;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
.Box-Span {
    display: inline-block;
    border: 1px solid black;
}
input[type="button"]:hover {
    border: 3px solid white;
    background-color: midnightblue;
    color: white;
}
.Diary-Entry {
    width: 100%;
}
.Diary-Table {
    width: 100%;
}
.Entry-Cell-Left {
    display: table-cell ;
    text-align: center;
    float: left;
    width: 15%;
    border-top: 1px solid;
}
.Entry-Cell-Middle {
    display: table-cell;
    text-align: center; 
    float: left;
    width: 70%;
    border-top: 1px solid;
}
.Entry-Cell-Right {
    display: table-cell;
    text-align: center;
    float: right;
    width: 15%;
    border-top: 1px solid;    
}
[class$="-Entry-Row"]{
    display: none;
    background-color: #FFF8E7;
}
.Favourite-Entry {
    width: 500px;
}
.Half-Break {
    width: 50%;
}
hr {
    color: black;
    border: 1px solid black;
}
.Logo-Image {
    max-width:33%; 
    max-height: 200px; 
    vertical-align: middle;
}
.Main-Div {
    min-height: 100%;
    background-color: #CCEEFF;
    text-align: center;
}
.Month-And-Year {
    text-align: center;
    font-weight: bold;
    display: table-cell;
    border-top: 1px solid;
}
.Month-Row {
    background-color: gainsboro;
    display: table-row;
}
.Month-Row:hover {
    cursor: pointer;
}
.Position-Entry {
    width: 50px;
}
.Sub-Div {
    background-color: #CCEEFF;
    margin-left: 50px;
    margin-right: 50px;
}
[class$="-Sub-Task-Div"] {
    border-top: 1px solid;
    border-bottom: 1px solid;
    background-color: antiquewhite;
}
.Sub-Task, .Sub-Task-Status, .Sub-Task-Form {
    width: 33%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.Sub-Task-Table {
    width: 100%;
    text-align: center;
}
.Submit-Entry, .Edit-Entry, .Complete-Button {
    display: inline-block;
    cursor: pointer;
}
.Diary-Div {
    width: 100%;
    display: table;
}
.Task-Entry {
    width: 100%;
    box-sizing: border-box;
}
.Task-Header {
    cursor: pointer;
    text-align: center;
    border: 1px solid black;
    background-color: gainsboro;
}